html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
    margin: 0;
}


.page-wrap {
    height: 100vh;
    display: flex;
    align-items: stretch;
}

.content-wrap {
    flex: 1;
}

.content {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.sidebar {
    width: 270px;
    background-color: #f1f1f1;
}
