html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
    margin: 0;
    background-color: $light-gray;
}


.page-wrap {
    height: 100vh;
    display: flex;
    align-items: stretch;
}

.content-wrap {
    flex: 1;
}

.content {
    width: 100%;
    max-width: $content-width;
    margin: $large-spacing auto;
}
