// Breakpoints
// FIXME Determined by an ad-hoc method
$bp-small: 600px; // Mobile devices
$bp-medium: 800px; // Tablets
$bp-large: 1000px; // Desktop

// Colors
$main-color: #03a1ff; // FIXME Placeholder
