<aside class="sidebar">
    <div class="sidebar__section">
        <div class="u-center-text">
            <button type="button" name="new-sighting"><img class="icon" src="/static/images/icon-plus.svg">New sighting</button>
        </div>
    </div>
    <div class="sidebar__section">
        <form class="sidebar__form">
            <label for="s-order">Order</label>
            <select id="s-order" name="sightingsOrder" ng-model="vm.order" ng-change="vm.updateOptions()">
                <option value="0">Newest first</option>
                <option value="1">Oldest first</option>
            </select>
            <label for="species-filter">Species</label>
            <select class="species-filter" name="speciesFilter" ng-model="vm.speciesFilter" ng-options="sp as (sp.name | capitalize ) for sp in vm.species" ng-change="vm.updateOptions()">
            </select>
            <label for="min-bn">Min. number of birds</label>
            <input type="number" name="minBirdNum" id="min-bn" placeholder="None" ng-model="vm.minBirdNum" ng-change="vm.updateOptions()">
            <label for="max-bn">Max. number of birds</label>
            <input type="number" name="maxBirdNum" id="max-bn" placeholder="None" ng-model="vm.maxBirdNum" ng-change="vm.updateOptions()">
            <a href="javascript:void(0)" class="plain-link" ng-click="vm.initOptions()"><img src="/static/images/icon-clear.svg" class="icon">Clear filters</a>
        </form>
    </div>
</aside>
