.sidebar {
    position: fixed;
    right: 0;
    height: 100vh;
    width: $sidebar-width;
    background-color: $light-gray;
    box-shadow: $base-shadow;
}

.sidebar__section {
    padding: $base-spacing;
    padding-bottom: 0;
    // color: $light-gray;
}
