.sightings__info {
    display: flex;
    margin-bottom: $small-spacing;

    &-left {
        flex: 1;
    }

    &-right {
        text-align: right;
    }
}

.sightings {

}

.sighting {
    margin-bottom: $small-spacing;
    padding: $base-spacing;
    background-color: $light-gray;
    box-shadow: $base-shadow;
}

.sighting__top-row {
    display: flex;
    justify-content: space-between;
}

.sighting__spec {
    display: flex;
}

.sighting__spec-label {
    display: inline-block;
    width: 145px;
    font-weight: 600;
}

 .sighting__spec-value {
     flex :1
 }
