.sightings__info {
    margin-bottom: $small-spacing;
    text-align: right;
}

.sightings {

}

.sighting {
    margin-bottom: $small-spacing;
    padding: $base-spacing;
    background-color: $white;
    box-shadow: $base-shadow;
}

.sighting__info {
    display: flex;
    margin-bottom: $base-spacing;
}

.sighting__info-left {
    flex: 1;
}

.sighting__info-right {
    text-align: right;
}

.sighting__spec-label {
    display: inline-block;
    width: 145px;
    font-weight: 600;
}
